.container.mt-5
  %h1
    = @game.name
  .text-secondary.lead
    Some SEO text with #{@game.name} and offered goods
  %hr
  .h3
    Offers
    .small
      = link_to 'Add offer', new_game_lot_path(@game)
  %table.table.table-sm
    %thead
      %th
        Seller
      %th
        Offer name
      %th
        Offer desc
      %th
        Offer price
      %th
    %tbody
      = render @lots
